@model SGU_C2CStore.Services.Models.Auction

@{
    ViewBag.Title = "Chi tiết sản phẩm";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Đấu giá</h4>
    <hr />
    <div class="col-md-12">
        <div class="col-md-2">
            <img src="@Model.PhotoUrl" class="img-responsive" />
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">

                <dt>
                    Tên
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    Mô tả
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    Đã xét duyệt
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsApproval)
                </dd>

                <dt>
                    Trạng thái
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AutionStatus)
                </dd>

                <dt>
                    Giá ban đầu
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    Giá cao nhất
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BestBid)
                </dd>

                <dt>
                    Thời gian bắt đầu
                </dt>

                <dd>
                    @string.Format("{0:dd/MM/yyyy H:mm:ss}", Model.StartTime)
                </dd>

                <dt>
                    Thời gian kết thúc
                </dt>

                <dd>
                    @string.Format("{0:dd/MM/yyyy H:mm:ss}", Model.EndTime)
                </dd>

            </dl>

        </div>

        <div class="col-md-6">
            @if (Model.AutionStatus == SGU_C2CStore.Services.Models.AuctionStatus.Pending)
            {
                using (Html.BeginForm("Start", "Auction"))
                {
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <strong>Thời gian bắt đầu</strong>
                    <input class="form-control" type="date" name="StartTime" />
                    <strong>Thời gian kết thúc</strong>
                    <input class="form-control" type="date" name="EndTime" />
                    <hr />
                    <button type="submit" class="btn btn-primary">Bắt đầu đấu giá</button>
                }
            }
            else if (Model.AutionStatus == SGU_C2CStore.Services.Models.AuctionStatus.New)
            {
                <strong>Trạng thái đang chờ xét duyệt</strong>
            }
            else if (Model.AutionStatus == SGU_C2CStore.Services.Models.AuctionStatus.Opened)
            {
                <table class="table-bordered" width="100%">
                    <col width="20%">
                    <col width="40%">
                    <col width="40%">
                    <tr>
                        <th>Số tiền</th>
                        <th>Thời gian</th>
                        <th>Thành viên</th>
                    </tr>
                    @for (var i = 0; i < Model.Bids.Count(); i++)
                    {
                        <tr>
                            <td>@Model.Bids.ElementAt(i).Price</td>
                            <td>@string.Format("{0:dd/MM/yyyy H:mm:ss}", Model.Bids.ElementAt(i).Time)</td>
                            <td class="best-bid">@Model.Bids.ElementAt(i).User.Email</td>
                        </tr>
                    }
                </table>
            }
            else if (Model.AutionStatus == SGU_C2CStore.Services.Models.AuctionStatus.Closed)
            {
                <table class="table-bordered" width="100%">
                    <col width="20%">
                    <col width="40%">
                    <col width="40%">
                    <tr>
                        <th>Số tiền</th>
                        <th>Thời gian</th>
                        <th>Thành viên</th>
                    </tr>
                    @for (var i = 0; i < Model.Bids.Count(); i++)
                    {
                        <tr>
                            <td>@Model.Bids.ElementAt(i).Price</td>
                            <td>@string.Format("{0:dd/MM/yyyy H:mm:ss}", Model.Bids.ElementAt(i).Time)</td>
                            <td class="best-bid">@Model.Bids.ElementAt(i).User.Email</td>
                        </tr>
                    }
                </table>
                <hr />
                if (Model.Bids.Count() > 0)
                {
                    var wonUser = @Model.Bids.ElementAt(0).User;
                    <p><strong>Người thắng cuộc: @wonUser.Email</strong></p>
                    <p>Số điện thoại: @wonUser.PhoneNumber</p>
                }
            }
        </div>
    </div>
</div>

<div class="clearfix">

</div>
<p>
    @Html.ActionLink("Quay lại", "Index")
</p>
