@model IEnumerable<SGU_C2CStore.Services.Models.Auction>

@{
    ViewBag.Title = "Index";
}

<h2>Sản phẩm đấu giá của bạn</h2>

<p>
    @Html.ActionLink("+ Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ảnh
        </th>
        <th>
            Mã số
        </th>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Danh mục
        </th>
        <th>
            Giá
        </th>
        <th>
            Đấu giá
        </th>
        <th>
            Mô tả
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@item.PhotoUrl" class="shopping-img-responsive" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BestBid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Chi tiết", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>
